# Ignore node_modules directory
node_modules/

# Ignore environment variables
.env
backend/.env

# Ignore build artifacts
dist/
build/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore npm/yarn logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore dependency directories
jspm_packages/

# Ignore local development files
*.local

# Ignore logs and databases
*.log
*.sqlite